# Server
REDIS_URL=redis://localhost:6379

WORKER_PORT=3001

# Recording
MAX_CONCURRENT_WORKERS=3
XVFB_DISPLAY_START=99
CHROME_EXECUTABLE=/usr/bin/google-chrome-stable

# Storage
STORAGE_TYPE=local
OUTPUT_DIR=./output

# Supabase storage
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_DB_URL=

# DB
MONGODB_URI=
