# Worker HTTP API
WORKER_URL=http://localhost:3001

# Storage
OUTPUT_DIR=./output

# Auth
BETTER_AUTH_API_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# DB
MONGODB_URI=
